{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
    <link rel="stylesheet" href="{%static 'polls/style.css'%}">
</head>

<body>
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="startseite">Home</a></li>
                <li><a href="statistiken">Statistiken</a></li>
                <li><a href="ueber_uns">Über uns</a></li>
                <li><a href="bwki">BW-KI</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <h1 class="fadeInDown">Erstelle eine neue Webseite</h1>
            
    </main>

    <h1>Formular</h1>
    <form action="{% url 'polls:website-store'%}" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="link">Link:</label>
        <input type="text" id="link" name="link" required><br><br>

        <label for="regex">Regex:</label>
        <input type="text" id="regex" name="regex" required><br><br>

        <label for="groups">Gruppen:</label>
        <input type="text" id="groups" name="groups" required><br><br>

        <label for="regex_link">Regex Link:</label>
        <input type="text" id="regex_link" name="regex_link" required><br><br>

        <label for="groups_link">Gruppen Link:</label>
        <input type="text" id="groups_link" name="groups_link" required><br><br>

        <label for="link_comp">Link Vollständig:</label>
        <input type="text" id="link_comp" name="link_comp" required><br><br>

        <input type="submit" value="Absenden">
    </form>

    <footer class="navbar-2">
        <nav>
            <ul>
                <li><a href="impressum">Impressum</a></li>
                <li><a href="ueber_uns">Über uns</a></li>
                <li><a href="bwki">BW-KI</a></li>
            </ul>
        </nav>
    </footer>

</body>
</html>
