{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BW-KI</title>
    <link rel="stylesheet" href="{%static 'polls/style.css'%}">
</head>

<body>
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="startseite">Home</a></li>
                <li><a href="statistiken">Statistiken</a></li>
                <li><a href="ueber_uns">Über uns</a></li>
                <li><a href="bwki">BW-KI</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <h1 class="fadeInDown">Alles zum BW-KI</h1>
        <p class="fadeInUp">BW-KI steht für Bundeswettbewerb-KI</p>
    </main>

    <section class="analysis">
        <div class="analysis-image">
            <img src="{%static 'polls/images/2.jfif'%}" height="500px">
        </div>
        <div class="analysis-text">
            <h2 class="fadeInLeft">Der Wettbewerb</h2>
            <p class="fadeInRight">
                In diesem Wettbewerb geht es darum, Künstliche Intelligenz zu nutzen, um die Welt zu verändern. Schülerinnen und Schüler weiterführender Schulen, allein oder im Team von bis zu 4 Personen, können ihre eigenen KI-Projekte entwickeln. Zuerst meldet man sich, mit einem Team und einer Projektidee an. Danach hat man die Möglichkeit, sein Projekt zu bearbeiten und bei der Wettbewerbsleitung einzureichen.</p>
        </div>
    </section>

    <section class="analysis">
        <div class="analysis-text">
            <h2 class="fadeInLeft">KI-Kurs?</h2>
            <p class="fadeInRight">
                
Der KI-Kurs ist für Personen, die ein Interesse an Künstlicher Intelligenz und Maschinellem Lernen haben, konzipiert. Dieser Kurs steht allen zur Verfügung und kann in verschiedenen Bildungsumgebungen wie AGs, schulischem Unterricht oder Vorlesungen als Lehrmaterial genutzt werden. Er bietet eine solide Grundlage für die Teilnahme am "Bundeswettbewerb-KI", wenn man den KI-Kurs als Teil seiner Klassengemeinschaft absolviert.</p>
        </div>
        
        <div class="analysis-image">
            <img src="{%static 'polls/images/1.jfif'%}" height="500px">
        </div>
    </section>

    <footer class="navbar-2">
        <nav>
            <ul>
                <li><a href="impressum">Impressum</a></li>
                <li><a href="ueber_uns">Über uns</a></li>
                <li><a href="bwki">BW-KI</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
