{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
    <link rel="stylesheet" href="{%static 'polls/style.css'%}">
</head>

<body>
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="startseite">Home</a></li>
                <li><a href="statistiken">Statistiken</a></li>
                <li><a href="ueber_uns">Über uns</a></li>
                <li><a href="bwki">BW-KI</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <h1 class="fadeInDown">Willkommen auf unserer Webseite!</h1>
        <p class="fadeInUp">Hier wollen wir dir helfen dein Berufsleben an deine Interessen anzupassen.</p>
            
    </main>

    <section class="analysis">
        <div class="analysis-image">
            <img src="{%static 'polls/images/3.jfif'%}" height="500px">
        </div>
        <div class="analysis-text">
            <h2 class="fadeInLeft">Hier gehts los!</h2>
            <p class="fadeInRight">Starte jetzt den Fragebogen um das perfekte Berufsfeld für dich zu finden!</p>
            <a href="tutorial" class="start-button fadeInUp">Start</a>
        </div>
    </section>

    <section class="content">
        <h2 class="fadeInDown">Wie soll das Funktionieren?</p>
        <p class="fadeInUp">Wir haben einen kleinen Fragebogen erstellt der dich nach deinen Interessen, Stärken und ähnlichem fragt um diese Daten auszuwerten und das perfekte Berufsfeld für dich zu finden!</h2>
    </section>

    <footer class="navbar-2">
        <nav>
            <ul>
                <li><a href="impressum">Impressum</a></li>
                <li><a href="ueber_uns">Über uns</a></li>
                <li><a href="bwki">BW-KI</a></li>
            </ul>
        </nav>
    </footer>

</body>
</html>
