{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="{%static 'polls/style.css'%}">
</head>

<body>
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="startseite">Home</a></li>
                <li><a href="statistiken">Statistiken</a></li>
                <li><a href="ueber_uns">Über uns</a></li>
                <li><a href="bwki">BW-KI</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <h1 class="fadeInDown">Tutoral</h1>
        <p class="fadeInUp">Eine ganz kurze einführung in das System</p>
    </main>

    <section class="analysis">
        <div class="analysis-text">
            <h2 class="fadeInLeft">Erfolgreiche Strategien</h2>
    </section>

    <footer>
        <div class="footer-image left-image"></div>
        <div class="footer-image right-image"></div>
    </footer>
</body>
</html>
