{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Über uns</title>
    <link rel="stylesheet" href="{%static 'polls/style.css'%}">
</head>

<body>
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="startseite">Home</a></li>
                <li><a href="statistiken">Statistiken</a></li>
                <li><a href="ueber_uns">Über uns</a></li>
                <li><a href="bwki">BW-KI</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <h1 class="fadeInDown">Über uns</h1>
        <p class="fadeInUp">
            Wir haben uns für den BW-KI dieses Projekt ausgedacht um dir mithilfe von KI dein Einstieg ins Berufsleben zu erleichtern.</p>
    </main>

    <section class="analysis">
        <div class="analysis-image">
            <img src="{%static 'polls/images/6.jfif'%}" height="500px"></div>
        <div class="analysis-text">
            <h2 class="fadeInLeft">Die Idee</h2>
            <p class="fadeInRight">
                Unser Ziel war es eine Webseite zu erstellen, die dir helfen soll eine Idee für den zukünftigen Berufsweg zu bekommen mithilfe von Stellenanzeigen zu Jobs und Praktika aus der Region. Um zu bestimmen, welche Jobs zu dir passen, haben wir einen Fragebogen erstellen, welcher dich, mit Hilfe von KI, über deine Interessen, Vorlieben und Fähigkeiten ausfragt, um ein auf dich zugeschnittenes Berufsfeld zu finden.</p>
        </div>
    </section>

    <section class="analysis">
        <div class="analysis-text">
            <h2 class="fadeInLeft">Wer sind wir überhaupt?</h2>
            <p class="fadeInRight">    
           Wir sind eine AG des Pestalozzi-Gymnasiums Unna welche sich seit April 2023 mit KI beschäftigt und damit ein wenig herumspielt.
        </p>
        </div>
        
        <div class="analysis-image">
            <img src="{%static 'polls/images/8.jfif'%}" height="500px">
        </div>
    </section>

    <footer class="navbar-2">
        <nav>
            <ul>
                <li><a href="impressum">Impressum</a></li>
                <li><a href="ueber_uns">Über uns</a></li>
                <li><a href="bwki">BW-KI</a></li>
            </ul>
        </nav>
    </footer>

</body>
</html>
